.did{
    float: left;
    color: #ffffff;
    width: 100px;
    height: 100px;
    background-color: rgb(165, 42, 132);
}

.coucou{
    float: left;
    color: #ffffff;
    width: 100px;
    height: 100px;
    background-color: #4b6043;
}